<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Title</title>
</head>
<body ng-app="myApp">
    <div class="container" ng-controller="labCtrl">
        <h3 class="text-warning text-center">DANH SÁCH SINH VIÊN</h3>
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="currentClassSelect">Lớp hiện tại</label>
                            <select ng-model="selectedCurrentClass" ng-options="class.tenlop for class in DS_Lop" class="form-control" id="currentClassSelect"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="transferClassSelect">Lớp chuyển</label>
                            <select ng-model="selectedTransferClass" ng-options="class.tenlop for class in DS_Lop" class="form-control" id="transferClassSelect"></select>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Họ và tên</span>
                    <input type="text" ng-model="newStudent.tensv" class="form-control" placeholder="Nhập họ tên sinh viên">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" ng-click="addStudent()"><i class="fa fa-plus"></i> Thêm</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="">Danh sách lớp hiện tại</label>
                            <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col"><input type="checkbox" ng-model="selectAllCurrentStudents" ng-click="toggleSelectAll('current')"></th>
                                    <th scope="col">Mã sinh viên</th>
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Lớp</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="student in currentClassStudents">
                                    <th scope="row"><input type="checkbox" ng-model="student.selected"></th>
                                    <td>{{student.masv}}</td>
                                    <td>{{student.tensv}}</td>
                                    <td>{{student.malop_sv}}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                    <div class="col-md-2 text-center mt-4">
                        <button style="margin: 10px; width: 120px; font-size: 20px;" type="button" class="btn btn-primary" ng-click="moveStudent('currentToTransfer')"><i class="fa fa-angle-right"></i></button> <br>
                        <button style="margin: 10px; width: 120px; font-size: 20px;" type="button" class="btn btn-primary" ng-click="moveStudent('transferToCurrent')"><i class="fa fa-angle-left"></i></button> <br>
                        <button style="margin: 10px; width: 120px; font-size: 20px;" type="button" class="btn btn-primary" ng-click="moveAllStudents('currentToTransfer')"><i class="fa fa-angle-double-right"></i></button> <br>
                        <button style="margin: 10px; width: 120px; font-size: 20px;" type="button" class="btn btn-primary" ng-click="moveAllStudents('transferToCurrent')"><i class="fa fa-angle-double-left"></i></button> <br>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="">Danh sách lớp chuyển</label>
                            <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col"><input type="checkbox" ng-model="selectAllTransferStudents" ng-click="toggleSelectAll('transfer')"></th>
                                    <th scope="col">Mã sinh viên</th>
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Lớp</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="student in transferClassStudents">
                                    <th scope="row"><input type="checkbox" ng-model="student.selected"></th>
                                    <td>{{student.masv}}</td>
                                    <td>{{student.tensv}}</td>
                                    <td>{{student.malop_sv}}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script>
        var app = angular.module('myApp', [])

        app.controller('labCtrl', function ($scope) {
            $scope.DS_Lop = [
                { malop: 'CD22CT1', tenlop: 'CD22CT1' },
                { malop: 'CD22KT1', tenlop: 'CD22KT1' },
                { malop: 'CD22DH1', tenlop: 'CD22DH1' },
                { malop: 'CD22ML1', tenlop: 'CD22ML1' },
                { malop: 'CD22TC1', tenlop: 'CD22TC1' }
        ];

            $scope.sinhvien = [
                { masv: 501220001, tensv: 'Nguyễn Văn An', malop_sv: 'CD22CT1' },
                { masv: 501220002, tensv: 'Nguyễn Văn Thành', malop_sv: 'CD22CT1' },
                { masv: 501220003, tensv: 'Nguyễn Thành Nhân', malop_sv: 'CD22CT1' },
                { masv: 501220004, tensv: 'Nguyễn Thành Lợi', malop_sv: 'CD22CT1' }
        ];

            $scope.newStudent = { tensv: "" };

            $scope.currentClassStudents = $scope.sinhvien.filter(function(student) {
                return student.malop_sv === $scope.DS_Lop[0].malop;
            });
            
            $scope.transferClassStudents = [];

            $scope.addStudent = function () {
                if ($scope.newStudent.tensv) {
                    // Tạo mã sinh viên mới dựa trên mã của sinh viên cuối cùng
                    var lastStudent = $scope.sinhvien[$scope.sinhvien.length - 1];
                    var newStudentID = lastStudent ? lastStudent.masv + 1 : 501220001;

                    // Chuẩn hóa họ và tên
                    var normalizedName = $scope.newStudent.tensv.toLowerCase().replace(/(?:^|\s)\S/g, function(a) {
                        return a.toUpperCase();
                    });

                    // Thêm sinh viên mới vào danh sách
                    var newStudent = {
                        masv: newStudentID,
                        tensv: normalizedName,
                        malop_sv: $scope.selectedCurrentClass.malop
                    };
                    $scope.sinhvien.push(newStudent);

                    // Tạo một bản sao của sinh viên và thêm vào danh sách lớp hiện tại
                    $scope.currentClassStudents.push(angular.copy(newStudent));

                    $scope.newStudent.tensv = "";
                }
            };

            $scope.moveStudent = function (direction) {
                var sourceList, targetList;

                if (direction === 'currentToTransfer') {
                    sourceList = $scope.currentClassStudents;
                    targetList = $scope.transferClassStudents;
                } else if (direction === 'transferToCurrent') {
                    sourceList = $scope.transferClassStudents;
                    targetList = $scope.currentClassStudents;
                }

                // Lấy danh sách sinh viên được chọn
                var selectedStudents = sourceList.filter(function(student) {
                    return student.selected;
                });

                // Di chuyển sinh viên được chọn từ nguồn sang đích
                for (var i = 0; i < selectedStudents.length; i++) {
                    selectedStudents[i].malop_sv = $scope.selectedTransferClass.malop;
                    targetList.push(selectedStudents[i]);
                }

                // Xóa các sinh viên đã di chuyển khỏi danh sách nguồn
                for (var i = 0; i < selectedStudents.length; i++) {
                    var index = sourceList.indexOf(selectedStudents[i]);
                    if (index > -1) {
                        sourceList.splice(index, 1);
                    }
                }
            };

            $scope.moveAllStudents = function (direction) {
                var sourceList, targetList;

                if (direction === 'currentToTransfer') {
                    sourceList = $scope.currentClassStudents;
                    targetList = $scope.transferClassStudents;
                } else if (direction === 'transferToCurrent') {
                    sourceList = $scope.transferClassStudents;
                    targetList = $scope.currentClassStudents;
                }

                // Lưu trữ danh sách sinh viên bên nguồn
                var studentsToMove = sourceList.slice();

                // Di chuyển tất cả sinh viên từ danh sách nguồn sang danh sách đích
                targetList = targetList.concat(studentsToMove);

                // Xóa các sinh viên đã di chuyển khỏi danh sách nguồn
                studentsToMove.forEach(function(student) {
                    var index = sourceList.indexOf(student);
                    if (index > -1) {
                        sourceList.splice(index, 1);
                    }
                });
            };

            // Tự động chọn hoặc bỏ chọn tất cả các checkbox trong danh sách hiện tại hoặc chuyển
            $scope.toggleSelectAll = function (listType) {
                var list, selectAll;

                if (listType === 'current') {
                    list = $scope.currentClassStudents;
                    selectAll = $scope.selectAllCurrentStudents;
                } else if (listType === 'transfer') {
                    list = $scope.transferClassStudents;
                    selectAll = $scope.selectAllTransferStudents;
                }

                list.forEach(function (student) {
                    student.selected = selectAll;
                });
            };
        });
    </script>
</body>
</html>
